body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    height: 64px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.nav{
    float: right;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li{
    float: left;
}

li a{
    color: grey;
    text-decoration: none;
    text-align: center;
    padding: 16px;
}

li a:hover{
    color: black;
}

.banner{
    background-color: lightgray;
    display: flex;
    align-items: center;
}

img{
    max-width: 90%;
    padding: 32px 24px 32px 24px;
}

.img-container{
    flex-basis: 100%;
    display: flex;
    align-items: center;
}
.txt-container h3{
    font-weight: 300;
}
.txt-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 24px;
}

button{
    background-color: black;
    width: 100%;
    border: none;
    color: white;
    padding: 8px 0 8px;
}

button:hover{
    background-color: grey;
}


.content-sidebar{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
 }

.col-2{
    display: inline-flex;
    align-content: center;

}

.col-2 img{
    width: 35%;
    height: 20%;
}
 .content-sidebar > *:nth-child(1){
    flex: 1 1 70%;
 }
 .content-sidebar > *:nth-child(2){
    flex: 1 1 30%;
 }

 .main{   
    background-color: lightgray;
    height: 100%;
    padding: 2rem 5rem 2rem 5rem;
}

.main h1{
    text-align: center;
    padding-bottom: 2rem;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    
}

.card{
    display: flex;
    flex-direction: column;
    background-color:white;
    flex: 1 0 350px;
    max-width: 450px;
    overflow: hidden;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    box-shadow: 3px 3px 14px rgba(255, 155, 5,0.5);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 1rem;
    transition: all 200ms ease-in-out;
}
 .card:hover{
    transform: translateY(-1rem);
    box-shadow: 3px 3px 17px rgba(255, 155, 5,0.8);
 }

.card-img{
    flex: 0 0 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 16px;
}
.card-content{
    padding:1rem;
}
.card-title{
    font-size: 1.7rem;
    font-weight: 700;
    margin-left: 16px;
    padding: 8px;
}

.card-des{
    padding: 8px;
}